.alert p {
  margin-bottom: 0 !important;
}
body {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  margin: 30px 0;
}
.contenido {
  padding: 20px;
}
.contenido-principal {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.presupuesto p {
  margin-bottom: 0;
  font-weight: bold;
}
.presupuesto p span {
  font-weight: normal;
}
#gastos {
  margin-bottom: 30px;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 4.8rem !important;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: #004e92;
  margin-bottom: 30px;
  font-size: 3rem !important;
  text-align: center;
}
.campo {
  margin-bottom: 1rem;
}

.error {
  text-align: center;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.listado-gastos {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.listado-gastos h2 {
  margin-top: 0px;
}

.gastos-realizados {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid lightblue;
}

.nombre-gasto {
  font-size: 1em;
  font-weight: 700;
  text-transform: capitalize;
  color: grey;
  margin: 0px;
}

.categoria {
  font-size: 0.8em;
  text-transform: uppercase;
  color: darkgrey;
  margin: 0px;
  padding: 5px;
}

.cantidad {
  color: white;
  background-color: #004085;
  margin-bottom: 20px;
  padding: 10px 25px;
  border-radius: 5px;
}

.boton-gastos {
  margin: 5px 5px;
  padding: 0px 15px;
}

input[type="button"].button-secondary {
  color: #fa071f;
  border-color: #fa071f;
}

.infoPresupuesto h2 {
  margin-bottom: 15px;
}

/* Grafica circular de porcentaje */
.circular {
  width: 12rem;
  margin: 0 auto;
  margin-bottom: 18px;
}

.circular svg.CircularProgressbar .CircularProgressbar-text {
  font-size: 10px;
}

/* Filtrar gastos */
.gastos-filtrados {
  margin-top: 2rem;
  margin-bottom: 0rem;
}
.gastos-filtrados h2 {
  margin-bottom: 20px;
}

/* media queries */
@media (min-width: 400px) {
  form {
    margin-bottom: 20px;
  }
  .listado-gastos h2 {
    margin-bottom: 10px;
  }
}

@media (min-width: 550px) {
  form {
    margin-bottom: 0px;
  }
  .listado-gastos h2 {
    margin-bottom: 15px;
  }
}
